.titulo_infraestructura{
    font-size: 35px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
 }
 .texto_infraestructura{
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
 }
 
 /* sliders*/
 .slider_section_infraestructura {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
 }

 #myCarousel_infraestructura_1, #myCarousel_infraestructura_2, #myCarousel_infraestructura_3 {
    width: 60%;
    box-sizing: border-box; 
 }

 .carousel-inner img {
    width: 100%;
    height: auto;
 }

 .carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
 }

 /* sliders en moviles */
 @media (max-width: 768px) {
    #myCarousel_infraestructura_1, #myCarousel_infraestructura_2, #myCarousel_infraestructura_3 {
       width: 80%; 
       border-width: 30px; 
    }
 }

 @media (max-width: 480px) {
    #myCarousel_infraestructura_1, #myCarousel_infraestructura_2, #myCarousel_infraestructura_3 {
       width: 90%; 
       border-width: 20px; 
    }
 }